@mixin font($fs, $fw, $lh) {
    font-size:$fs;
    font-weight:$fw ;
    line-height:$lh ;
}
@mixin box($w , $h) {
    width: $w;
    height: $h;

}
@mixin mobile  { @media screen and (min-width: 480px){
    @content;
    
}
}
@mixin tablet  { @media screen and (min-width: 900px){
    @content;
    
}
}
@mixin destop  { @media screen and (min-width: 1180px){
    @content;
    
}}
$white:#fff;
$yellow:#FBD784;
$blue:blue;